@model QLySinhVien.Models.Test

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Thông tin chi tiết </h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                   Bài kiểm tra
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TestName)
                </dd>
                <dt class="col-sm-2">
                    Trọng số
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
                <dt class="col-sm-2">
                    Môn học
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Course.Title)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model.TestId" class="btn btn-warning">
                <i class="bi bi-pencil-square"></i> Sửa
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Quay lại danh sách
            </a>
        </div>
    </div>
</div>

