@model QLySinhVien.Models.Attendance

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-3">Thêm sinh viên mới</h2>
            <hr />

            <form asp-action="Create" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ClassId" class="control-label"></label>
                    <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="Đã điểm danh">Đã điểm danh</option>
                        <option value="Chưa điểm danh">Chưa điểm danh</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Quay lại danh sách
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Lưu lại
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
