@model QLySinhVien.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-3">Sửa thông tin </h2>
            <hr />

            <form asp-action="Edit" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EnrollmentId" />
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnrollmentDate" class="control-label"></label>
                    <input asp-for="EnrollmentDate" class="form-control" type="date"/>
                    <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Quay lại danh sách
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Lưu lại
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
